h2{background-color: aqua;}    
h1{background-color: red;}      
    .flex{
        border:5px solid purple;
        border-radius: 5px;
        display: flex;
        flex-direction: column;}
    .box{
        border: 2px dashed purple;
        height: 50px;
        width: 50px;}
    .flex2{
        border:5px solid purple;
        border-radius: 5px;
        display: flex;
        flex-direction: row;}
    .flex3{
        border:5px solid purple;
        border-radius: 5px;
        display: flex;
        flex-direction: column-reverse;}  
    .flex4{
        border:5px solid purple;
        border-radius: 5px;
        display: flex;
        flex-direction: row-reverse;}    
    .flex5{
        border:5px solid purple;
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;} 
    .flex6{
        border:5px solid purple;
        border-radius: 5px;
        display: flex;
        justify-content: flex-end;} 
    .flex7{
        border:5px solid purple;
        border-radius: 5px;
        display: flex;
        justify-content: center;}
    .flex8{
        border:5px solid purple;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;}
    .flex9{
        border:5px solid purple;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;}
    .flex10{
        border:5px solid purple;
        border-radius: 5px;
        display: flex;
        justify-content: space-around;}
    .flex11{
        border:5px solid purple;
        border-radius: 5px;
        height: 300px;
        width: 500px;
        display: flex;
        align-items: flex-start;}
    .flex12{
        border:5px solid purple;
        border-radius: 5px;
        height: 300px;
        width: 500px;
        display: flex;
        align-items: flex-end;}
    .flex13{
        border:5px solid purple;
        border-radius: 5px;
        height: 300px;
        width: 500px;
        display: flex;
        align-items: center;}
    .contener2{
        display: grid;
        /* grid-template-columns:200px 200px 200px 200px 200px 200px 20px; */
        /* grid-template-columns: repeat(2, 200px) 100px; */
        /* grid-template-columns: repeat(4, 5fr) 2fr; */
         grid-template-columns: auto 200px auto 200px;
        /* justify-content: center; */
        /* justify-content: space-between; */
        justify-content: space-around;
    }
        .temple{
            border: 2px solid skyblue;
        }