.qq{background-color: rgb(234, 239, 241);margin: 15px;
    text-align: left;}
    .zz{text-align: left;}
    #v{background-color: greenyellow;}
    #img{display: block;}
    *{margin: 10px;}
    #pro{background-image:url(image/vaiaa.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 180px 250px;
        back
    }

    *{font-size: medium;}
    #bor{border:40px solid white;}
    .hh{padding-right: 40px;}
    .pq{background-color: rgb(234, 239, 241);}
    #ll td, th{border: 15px ;}
    #ll{border-collapse: collapse;text-align: ;}
    #ll td:nth-child(3){background-color:rgb(234, 239, 241);}
    .table{
        justify-content: center;
    }