li{color: brown;}
p{width: 50%;}
h2{width: 50%;}
#one{color: aqua;}
#two{color: brown;}
#three{color: aqua;}
#four{color: brown;}
p{text-align: center;}
#you{background-color: blueviolet;}
.hmm{background-color: rgb(252, 105, 0);}
.nani{font-weight: bolder;} */
.nana{color: aqua;}
.span{color: blue;}
.css{background-color: aqua;}
.sss{color: crimson;}
#me{background-color: brown;}
.cse{background-color: brown ;}
.rrr{background-color:rgb(174, 222, 235);
border: 20px solid rgb(27, 235, 0);border-radius: 10px; padding: 50px; 
/* visibility: hidden; */
/* display: none; */
box-shadow: 10px 10px 10px rgb(85, 0, 0);}
  /* *{margin: 0;} */ 
  .ee{height: 500px; background-image: url(Imag\ and\ video/A);
background-repeat: no-repeat;
background-size: 600px;
border: solid red; background-position: top;}
.box{border: solid rgb(224, 0, 0);}
#ss{color: blue;}
.aa{background-color: aqua;}